<br />
<div class="container">
    <div class="jumbotron">
        <h2 style="text-align: center;">@ViewBag.CheckoutCompletoMensagem</h2>

        <br />
        <h2>Obriado pela compra <strong>@ViewBag.Cliente</strong></h2>
        <br />
        <h2>Número do pedido: <strong>@ViewBag.NumeroPedido</strong></h2>
        <br />
        <h2>Horario do pedido: <strong>@ViewBag.DataPedido</strong></h2>
        <br />
        <h2>Valor: R$<strong> @ViewBag.TotalPedido</strong></h2>
        <br />
        <hr>
        <h2>Quantidad: <strong>@ViewBag.Quantidade</strong></h2>


    </div>
</div>
